<div id="footer">
  <div class="container">
    <div class="row footer-body">
      <!-- Footer Brand Column -->
      <div class="col-md-4 col-sm-12 footer-column">
        <a href="#" id="footer-brand" class="footer-brand"><img src="assets/images/header-logo-default.png" alt="Property Sathi"></a>
        <p>Property Saathi is dedicated to deliver a high level of expertise, customer service, and attention to detail to the market of accommodation booking.</p>
      </div>

      <!-- Usefull Link Column -->
      <div class="col-md-4 col-sm-12 footer-column">
        <h3 class="footer-title">Usefull link</h3>
        <ul class="footer-menu">
          <li><a [routerLink]="['/about']">About Us</a></li>
          <li><a [routerLink]="['/salesenquiry']">Sales Inquiry</a></li>
          <li><a [routerLink]="['/testimonials']">Testimonials</a></li>
          <li><a [routerLink]="['/propertysaathicareers']">Property Saathi Careers</a></li>
          <li><a [routerLink]="['/termsandcondition']">Terms & Conditions</a></li>
        </ul>
      </div>
      <!-- Instagram Column -->
      <div class="col-md-4 col-sm-12 footer-column">
        <h3 class="footer-title">Instagram</h3>
        <ul class="gallery-photo">
          <li><a href="#"><img src="assets/images/img_instagram_1.jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/images/img_instagram_2.jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/images/img_instagram_3.jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/images/img_instagram_4.jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/images/img_instagram_5.jpg" alt=""></a></li>
          <li><a href="#"><img src="assets/images/img_instagram_6.jpg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="copyright">
			<div class="container clearfix">
				<p>Copyright &copy; 2017 - All Rights Reserved By Pixel Kreative</p>
				<a href="http://pixelkreative.com/">pixelkreative.com</a>
			</div>
		</div>
	</div>
